<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>统计</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">个</span>
                    <h5>传感器节点</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" th:text="${sensorsCount}"></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">条</span>
                    <h5>已采集数据</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" th:text="${collectDataCount}"></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">条</span>
                    <h5>预测记录</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" th:text="${predictCount}"></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">天</span>
                    <h5>平台运行时长</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" th:text="${server.jvm.runTime}"></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>今日预警列表，共<span th:text="${sysNotices.size()}"></span>条</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover no-margins">
                        <thead>
                        <tr>
                            <th>状态</th>
                            <th>类型</th>
                            <th>内容</th>
                            <th>预警日期</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="sysNotice : ${sysNotices}">
                            <td><small th:text="${sysNotice.getStatus() == '0' ? '正常' : '异常'}"></small></td>
                            <td><span
                                    th:text="${sysNotice.getNoticeType() == '1' ? '执行记录' : (sysNotice.getNoticeType() == '2' ? '事前预警' : '事后预警')}"></span>
                            </td>
                            <td class="text-navy">
                                <i class="fa fa-level-up"></i><span th:text="${sysNotice.getNoticeContent()}"></span>
                            </td>
                            <td><i class="fa fa-clock-o"></i><span
                                    th:text="${sysNotice.getWarningDate()}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/flot/jquery.flot.js}"></script>

<th:block th:include="include :: sparkline-js"/>
</body>
</html>
