<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('预测图像')"/>
    <th:block th:include="include :: echarts-js"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-title">
                <h5 th:text="${sysPredict.getPredictDay()}"></h5>
                <h5>预测结果，准确率：</h5>
                <h5 th:text="${sysPredict.getScore()}"></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>预测数据图</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-line-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>LSTM模型loss变化图</h5>
                </div>
                <div class="ibox-content">
                    <img class="echarts" th:src="'data:image/jpeg;base64,'+${sysPredict.getLossCurve()}">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>LSTM模型测试集训练图</h5>
                </div>
                <div class="ibox-content">
                    <img class="echarts" th:src="'data:image/jpeg;base64,'+${sysPredict.getTestCurve()}">
                </div>
            </div>
        </div>
    </div>
    <input th:value="${sysPredict.predictId}" type="hidden" id="predictId">
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: echarts-js"/>
<script type="text/javascript">
    var prefix = ctx + "system/predict";
    var predictId = $("#predictId").val();

    $(function () {
        // 覆盖率变化图
        var lineChart = echarts.init(document.getElementById("echarts-line-chart"));
        var predictIdData = [];
        var predictXData = [];
        $.ajax({
            url: prefix + "/predictIdData",
            type: 'post',
            dataType: "json",
            data: {
                predictId: predictId,
                type: 'y'
            },
            async: false,
            success: function (result) {
                $.each(result.data, function (n, value) {
                    predictIdData.push(value);
                });
            }
        });
        $.ajax({
            url: prefix + "/predictIdData",
            type: 'post',
            dataType: "json",
            data: {
                predictId: predictId,
                type: 'x'
            },
            async: false,
            success: function (result) {
                $.each(result.data, function (n, value) {
                    predictXData.push(value);
                });
            }
        });
        var lineoption = {
            xAxis: {
                type: 'category',
                data: predictXData
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    data: predictIdData,
                    type: 'line',
                    smooth: true
                }
            ],
            tooltip: { // 鼠标悬浮提示框显示 X和Y 轴数据
                trigger: 'axis',
                backgroundColor: 'rgba(32, 33, 36,.7)',
                borderColor: 'rgba(32, 33, 36,0.20)',
                borderWidth: 1,
                textStyle: { // 文字提示样式
                    color: '#fff',
                    fontSize: '12'
                },
                axisPointer: { // 坐标轴虚线
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                },
            }
        };
        lineChart.setOption(lineoption);
        $(window).resize(lineChart.resize);
    });
</script>
</body>
</html>
