<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitoring.system.mapper.SysNodeInfoMapper">
    
    <resultMap type="SysNodeInfo" id="SysNodeInfoResult">
        <result property="nodeId"    column="node_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="nodeX"    column="node_x"    />
        <result property="nodeY"    column="node_y"    />
        <result property="nodeZ"    column="node_z"    />
        <result property="nodeSort"    column="node_sort"    />
        <result property="nodeEnergy"    column="node_energy"    />
        <result property="dataId"    column="data_id"    />
        <result property="nodeType"    column="node_type"    />
        <result property="nodeRs"    column="node_rs"    />
        <result property="sensorsId"    column="sensors_id"    />
    </resultMap>

    <sql id="selectSysNodeInfoVo">
        select node_id, create_by, create_time, update_by, update_time, remark, node_x, node_y, node_z, node_sort, node_energy, data_id, node_type, node_rs, sensors_id from sys_node_info
    </sql>

    <select id="selectSysNodeInfoList" parameterType="SysNodeInfo" resultMap="SysNodeInfoResult">
        <include refid="selectSysNodeInfoVo"/>
        <where>  
            <if test="nodeX != null "> and node_x = #{nodeX}</if>
            <if test="nodeY != null "> and node_y = #{nodeY}</if>
            <if test="nodeZ != null "> and node_z = #{nodeZ}</if>
            <if test="nodeSort != null "> and node_sort = #{nodeSort}</if>
            <if test="nodeEnergy != null "> and node_energy = #{nodeEnergy}</if>
            <if test="dataId != null "> and data_id = #{dataId}</if>
            <if test="nodeType != null  and nodeType != ''"> and node_type = #{nodeType}</if>
            <if test="nodeRs != null "> and node_rs = #{nodeRs}</if>
            <if test="sensorsId != null "> and sensors_id = #{sensorsId}</if>
        </where>
    </select>
    
    <select id="selectSysNodeInfoByNodeId" parameterType="Long" resultMap="SysNodeInfoResult">
        <include refid="selectSysNodeInfoVo"/>
        where node_id = #{nodeId}
    </select>
        
    <insert id="insertSysNodeInfo" parameterType="SysNodeInfo" useGeneratedKeys="true" keyProperty="nodeId">
        insert into sys_node_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="nodeX != null">node_x,</if>
            <if test="nodeY != null">node_y,</if>
            <if test="nodeZ != null">node_z,</if>
            <if test="nodeSort != null">node_sort,</if>
            <if test="nodeEnergy != null">node_energy,</if>
            <if test="dataId != null">data_id,</if>
            <if test="nodeType != null">node_type,</if>
            <if test="nodeRs != null">node_rs,</if>
            <if test="sensorsId != null">sensors_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="nodeX != null">#{nodeX},</if>
            <if test="nodeY != null">#{nodeY},</if>
            <if test="nodeZ != null">#{nodeZ},</if>
            <if test="nodeSort != null">#{nodeSort},</if>
            <if test="nodeEnergy != null">#{nodeEnergy},</if>
            <if test="dataId != null">#{dataId},</if>
            <if test="nodeType != null">#{nodeType},</if>
            <if test="nodeRs != null">#{nodeRs},</if>
            <if test="sensorsId != null">#{sensorsId},</if>
         </trim>
    </insert>

    <update id="updateSysNodeInfo" parameterType="SysNodeInfo">
        update sys_node_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="nodeX != null">node_x = #{nodeX},</if>
            <if test="nodeY != null">node_y = #{nodeY},</if>
            <if test="nodeZ != null">node_z = #{nodeZ},</if>
            <if test="nodeSort != null">node_sort = #{nodeSort},</if>
            <if test="nodeEnergy != null">node_energy = #{nodeEnergy},</if>
            <if test="dataId != null">data_id = #{dataId},</if>
            <if test="nodeType != null">node_type = #{nodeType},</if>
            <if test="nodeRs != null">node_rs = #{nodeRs},</if>
            <if test="sensorsId != null">sensors_id = #{sensorsId},</if>
        </trim>
        where node_id = #{nodeId}
    </update>

    <delete id="deleteSysNodeInfoByNodeId" parameterType="Long">
        delete from sys_node_info where node_id = #{nodeId}
    </delete>

    <delete id="deleteSysNodeInfoByNodeIds" parameterType="String">
        delete from sys_node_info where node_id in 
        <foreach item="nodeId" collection="array" open="(" separator="," close=")">
            #{nodeId}
        </foreach>
    </delete>

</mapper>