<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('位置详情列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>位置x：</label>
                            <input type="text" name="nodeX"/>
                        </li>
                        <li>
                            <label>位置y：</label>
                            <input type="text" name="nodeY"/>
                        </li>
                        <li>
                            <label>位置z：</label>
                            <input type="text" name="nodeZ"/>
                        </li>
                        <li>
                            <label>排序：</label>
                            <input type="text" name="nodeSort"/>
                        </li>
                        <li>
                            <label>初始能量：</label>
                            <input type="text" name="nodeEnergy"/>
                        </li>
                        <li>
                            <label>位置数据ID：</label>
                            <input type="text" name="dataId"/>
                        </li>
                        <li>
                            <label>位置类型：</label>
                            <select name="nodeType" th:with="type=${@dict.getType('sys_location_type')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>感知半径：</label>
                            <input type="text" name="nodeRs"/>
                        </li>
                        <li>
                            <label>传感器ID：</label>
                            <input type="text" name="sensorsId"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:info:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="system:info:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:info:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:info:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:info:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:info:remove')}]];
    var nodeTypeDatas = [[${@dict.getType('sys_location_type')}]];
    var prefix = ctx + "system/info";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "位置详情",
            columns: [{
                checkbox: true
            },
                {
                    field: 'nodeId',
                    title: '节点ID',
                    visible: false
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    field: 'nodeX',
                    title: '位置x'
                },
                {
                    field: 'nodeY',
                    title: '位置y'
                },
                {
                    field: 'nodeZ',
                    title: '位置z'
                },
                {
                    field: 'nodeSort',
                    title: '排序'
                },
                {
                    field: 'nodeEnergy',
                    title: '初始能量'
                },
                {
                    field: 'dataId',
                    title: '位置数据ID'
                },
                {
                    field: 'nodeType',
                    title: '位置类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(nodeTypeDatas, value);
                    }
                },
                {
                    field: 'nodeRs',
                    title: '感知半径'
                },
                {
                    field: 'sensorsId',
                    title: '传感器ID'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.nodeId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.nodeId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>