<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitoring.system.mapper.SysCollectDataMapper">

    <resultMap type="SysCollectData" id="SysCollectDataResult">
        <result property="collectId"    column="collect_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="sensorId"    column="sensor_id"    />
        <result property="temperature"    column="temperature"    />
        <result property="humidity"    column="humidity"    />
        <result property="collectTime"    column="collect_time"    />
        <result property="abnormal"    column="abnormal"    />
        <result property="earlyWarning"    column="early_warning"    />
    </resultMap>

    <sql id="selectSysCollectDataVo">
        select collect_id, create_by, create_time, update_by, update_time, remark, sensor_id, temperature, humidity, collect_time, abnormal, early_warning from sys_collect_data
    </sql>

    <select id="selectSysCollectDataList" parameterType="SysCollectData" resultMap="SysCollectDataResult">
        <include refid="selectSysCollectDataVo"/>
        <where>
            <if test="sensorId != null "> and sensor_id = #{sensorId}</if>
            <if test="temperature != null  and temperature != ''"> and temperature = #{temperature}</if>
            <if test="humidity != null  and humidity != ''"> and humidity = #{humidity}</if>
            <if test="collectTime != null "> and collect_time like concat('%', date_format(#{collectTime}, '%Y-%m-%d' ), '%')</if>
            <if test="abnormal != null  and abnormal != ''"> and abnormal = #{abnormal}</if>
            <if test="earlyWarning != null  and earlyWarning != ''"> and early_warning = #{earlyWarning}</if>
        </where>
    </select>

    <select id="selectSysCollectDataByCollectId" parameterType="Long" resultMap="SysCollectDataResult">
        <include refid="selectSysCollectDataVo"/>
        where collect_id = #{collectId}
    </select>

    <insert id="insertSysCollectData" parameterType="SysCollectData" useGeneratedKeys="true" keyProperty="collectId">
        insert into sys_collect_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="sensorId != null">sensor_id,</if>
            <if test="temperature != null">temperature,</if>
            <if test="humidity != null">humidity,</if>
            <if test="collectTime != null">collect_time,</if>
            <if test="abnormal != null">abnormal,</if>
            <if test="earlyWarning != null">early_warning,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="sensorId != null">#{sensorId},</if>
            <if test="temperature != null">#{temperature},</if>
            <if test="humidity != null">#{humidity},</if>
            <if test="collectTime != null">#{collectTime},</if>
            <if test="abnormal != null">#{abnormal},</if>
            <if test="earlyWarning != null">#{earlyWarning},</if>
        </trim>
    </insert>

    <update id="updateSysCollectData" parameterType="SysCollectData">
        update sys_collect_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="sensorId != null">sensor_id = #{sensorId},</if>
            <if test="temperature != null">temperature = #{temperature},</if>
            <if test="humidity != null">humidity = #{humidity},</if>
            <if test="collectTime != null">collect_time = #{collectTime},</if>
            <if test="abnormal != null">abnormal = #{abnormal},</if>
            <if test="earlyWarning != null">early_warning = #{earlyWarning},</if>
        </trim>
        where collect_id = #{collectId}
    </update>

    <delete id="deleteSysCollectDataByCollectId" parameterType="Long">
        delete from sys_collect_data where collect_id = #{collectId}
    </delete>

    <delete id="deleteSysCollectDataByCollectIds" parameterType="String">
        delete from sys_collect_data where collect_id in
        <foreach item="collectId" collection="array" open="(" separator="," close=")">
            #{collectId}
        </foreach>
    </delete>

    <select id="selectSysCollectDataListByBOthNull" resultMap="SysCollectDataResult">
        <include refid="selectSysCollectDataVo"/>
        where abnormal IS NULL AND early_warning IS NULL
    </select>

    <select id="selectCount" resultType="Integer">
        select count(1) from sys_collect_data
    </select>

</mapper>