<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitoring.system.mapper.SysDataRecordMapper">
    
    <resultMap type="SysDataRecord" id="SysDataRecordResult">
        <result property="dataId"    column="data_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="dataNum"    column="data_num"    />
        <result property="dataDim"    column="data_dim"    />
        <result property="people"    column="people"    />
    </resultMap>

    <sql id="selectSysDataRecordVo">
        select data_id, create_by, create_time, update_by, update_time, remark, data_num, data_dim, people from sys_data_record
    </sql>

    <select id="selectSysDataRecordList" parameterType="SysDataRecord" resultMap="SysDataRecordResult">
        <include refid="selectSysDataRecordVo"/>
        <where>  
            <if test="dataNum != null "> and data_num = #{dataNum}</if>
            <if test="dataDim != null  and dataDim != ''"> and data_dim = #{dataDim}</if>
            <if test="people != null  and people != ''"> and people like concat('%', #{people}, '%')</if>
        </where>
    </select>
    
    <select id="selectSysDataRecordByDataId" parameterType="Long" resultMap="SysDataRecordResult">
        <include refid="selectSysDataRecordVo"/>
        where data_id = #{dataId}
    </select>
        
    <insert id="insertSysDataRecord" parameterType="SysDataRecord" useGeneratedKeys="true" keyProperty="dataId">
        insert into sys_data_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="dataNum != null">data_num,</if>
            <if test="dataDim != null">data_dim,</if>
            <if test="people != null">people,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="dataNum != null">#{dataNum},</if>
            <if test="dataDim != null">#{dataDim},</if>
            <if test="people != null">#{people},</if>
         </trim>
    </insert>

    <update id="updateSysDataRecord" parameterType="SysDataRecord">
        update sys_data_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="dataNum != null">data_num = #{dataNum},</if>
            <if test="dataDim != null">data_dim = #{dataDim},</if>
            <if test="people != null">people = #{people},</if>
        </trim>
        where data_id = #{dataId}
    </update>

    <delete id="deleteSysDataRecordByDataId" parameterType="Long">
        delete from sys_data_record where data_id = #{dataId}
    </delete>

    <delete id="deleteSysDataRecordByDataIds" parameterType="String">
        delete from sys_data_record where data_id in 
        <foreach item="dataId" collection="array" open="(" separator="," close=")">
            #{dataId}
        </foreach>
    </delete>

</mapper>