<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('覆盖优化记录列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>实验数据ID：</label>
                            <input type="text" name="dataId"/>
                        </li>
                        <li>
                            <label>网络状态：</label>
                            <input type="text" name="status"/>
                        </li>
                        <li>
                            <label>优化时长：</label>
                            <input type="text" name="runTime"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:co:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:co:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:co:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:co:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var dataFlag = [[${@permission.hasPermi('system:record:data')}]];
    var editFlag = [[${@permission.hasPermi('system:co:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:co:remove')}]];
    var figureFlag = [[${@permission.hasPermi('system:co:figure')}]]
    var prefix = ctx + "system/co";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "dataId",
            sortOrder: "asc",
            modalName: "覆盖优化记录",
            columns: [{
                checkbox: true
            },
                {
                    field: 'coId',
                    title: '优化记录',
                    visible: false
                },
                {
                    field: 'dataId',
                    title: '实验数据ID'
                },
                {
                    field: 'origin',
                    title: '初始覆盖率'
                },
                {
                    field: 'afterCoverage',
                    title: '优化后覆盖率'
                },
                {
                    field: 'energy',
                    title: '初始能量'
                },
                {
                    field: 'afterEnergy',
                    title: '剩余能量'
                },
                {
                    field: 'status',
                    title: '网络状态'
                },
                {
                    field: 'runTime',
                    title: '优化时长'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-warning btn-xs ' + dataFlag + '" href="javascript:void(0)" onclick="data(\'' + row.coId + '\')"><i class="fa fa-edit"></i>开始优化</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + figureFlag + '" href="javascript:void(0)" onclick="figure(\'' + row.coId + '\')"><i class="fa fa-edit"></i>优化图像</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.coId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.coId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function data(id) {
        if (id.length != 0) {
            $.modal.confirm("确认开始优化吗？", function () {
                $.operate.post(prefix + "/data", {"coId": id});
            })
        } else {
            $.modal.alertWarning("无权操作！");
        }
    }

    function figure(id) {
        if (id.length != 0) {
            $.modal.openFull('覆盖优化图像', prefix + '/figure/' + id);
        } else {
            $.modal.alertWarning("无权操作！");
        }
    }
</script>
</body>
</html>