<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('覆盖优化图表(三维)')"/>
    <th:block th:include="include :: echarts-js"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>初始部署节点位置分布图</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-scatter3D-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>优化部署节点位置分布图</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-scatter3D2-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>网络覆盖率变化图</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-line-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>网络能量变化图</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-line2-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <input th:value="${sysCo.dataId}" type="hidden" id="dataId">
    <input th:value="${sysCo.coId}" type="hidden" id="coId">
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: echarts-js"/>
<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
<script type="text/javascript">
    var prefix = ctx + "system/co";
    var dataId = $("#dataId").val();
    var coId = $("#coId").val();

    $(function () {
        // 初始位置分布
        var scatter3DChart = echarts.init(document.getElementById("echarts-scatter3D-chart"));
        var initLocationData = [];
        $.ajax({
            url: prefix + "/initLocationData",
            type: 'post',
            dataType: "json",
            data: {
                dataId: dataId
            },
            async: false,
            success: function (result) {
                $.each(result.data, function (n, value) {
                    initLocationData.push(value);
                });
            }
        });
        scatter3DChart.setOption(
            (option = {
                visualMap: {
                    show: false,
                    inRange: {
                        symbolSize: [10, 200],
                        color: [
                            '#313695',
                            '#4575b4',
                            '#74add1',
                            '#abd9e9',
                            '#e0f3f8',
                            '#ffffbf',
                            '#fee090',
                            '#fdae61',
                            '#f46d43',
                            '#d73027',
                            '#a50026'
                        ],
                    }
                },
                xAxis3D: {
                    type: 'value'
                },
                yAxis3D: {
                    type: 'value'
                },
                zAxis3D: {
                    type: 'value'
                },
                grid3D: {
                    axisLine: {
                        lineStyle: {color: '#000000'}
                    },
                    axisPointer: {
                        lineStyle: {color: '#000000'}
                    },
                    viewControl: {
                        // autoRotate: true
                    }
                },
                series: [
                    {
                        type: 'scatter3D',
                        data: initLocationData
                    }
                ]
            })
        );
        $(window).resize(scatter3DChart.resize);

        // 优化位置分布
        var scatter3D2Chart = echarts.init(document.getElementById("echarts-scatter3D2-chart"));
        var afterLocationData = [];
        $.ajax({
            url: prefix + "/afterLocationData",
            type: 'post',
            dataType: "json",
            data: {
                dataId: dataId
            },
            async: false,
            success: function (result) {
                $.each(result.data, function (n, value) {
                    afterLocationData.push(value);
                });
            }
        });
        scatter3D2Chart.setOption(
            (option = {
                visualMap: {
                    show: false,
                    inRange: {
                        symbolSize: [10, 200],
                        color: [
                            '#313695',
                            '#4575b4',
                            '#74add1',
                            '#abd9e9',
                            '#e0f3f8',
                            '#ffffbf',
                            '#fee090',
                            '#fdae61',
                            '#f46d43',
                            '#d73027',
                            '#a50026'
                        ],
                    }
                },
                xAxis3D: {
                    type: 'value'
                },
                yAxis3D: {
                    type: 'value'
                },
                zAxis3D: {
                    type: 'value'
                },
                grid3D: {
                    axisLine: {
                        lineStyle: {color: '#000000'}
                    },
                    axisPointer: {
                        lineStyle: {color: '#000000'}
                    },
                    viewControl: {
                        // autoRotate: true
                    }
                },
                series: [
                    {
                        type: 'scatter3D',
                        data: afterLocationData
                    }
                ]
            })
        );
        $(window).resize(scatter3D2Chart.resize);

        // 覆盖率变化图
        var lineChart = echarts.init(document.getElementById("echarts-line-chart"));
        var coverageData = [];
        $.ajax({
            url: prefix + "/coverageData",
            type: 'post',
            dataType: "json",
            data: {
                coId: coId
            },
            async: false,
            success: function (result) {
                $.each(result.data, function (n, value) {
                    coverageData.push(value);
                });
            }
        });
        var lineoption = {
            xAxis: {},
            yAxis: {},
            series: [
                {
                    data: coverageData,
                    type: 'line'
                }
            ]
        };
        lineChart.setOption(lineoption);
        $(window).resize(lineChart.resize);

        //能量变化图
        var lineChart2 = echarts.init(document.getElementById("echarts-line2-chart"));
        var energyData = [];
        $.ajax({
            url: prefix + "/energyData",
            type: 'post',
            dataType: "json",
            data: {
                coId: coId
            },
            async: false,
            success: function (result) {
                $.each(result.data, function (n, value) {
                    energyData.push(value);
                });
            }
        });
        var line2option = {
            xAxis: {},
            yAxis: {},
            series: [
                {
                    data: energyData,
                    type: 'line'
                }
            ]
        };
        lineChart2.setOption(line2option);
        $(window).resize(lineChart2.resize);
    });
</script>
</body>
</html>
